@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  display: flex;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  overflow-y: hidden;
  min-height: 100vh;
}

.marker {
  background-color: #4caf50;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}

.mapboxgl-popup {
  color: black;
}
